# Final Assignment

## Problem 1

In [3]:
i = int(input("Enter the integer"))
result_dict = {n:n*n for n in range(1,i+1)}
print(result_dict)

Enter the integer8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

## Problem 2

In [2]:
n = int(input("Enter the number"))
for i in range(1,11):
    print(str(n) + " * " + str(i) + " = " + str(i * n))

Enter the number6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

## Problem 3

In [4]:
items = [6, 50, 100, 7000]
total = sum(items)
print("Sum =",total)

Sum = 7156

## Problem 4(a)

In [5]:
student = input("Enter name, age, city, course: ")
student = tuple(student.split(","))

Enter name, age, city, course: Raj, 17, Delhi, c++

## Problem 4(b)

In [6]:
tup_count = len(student)
print("Tuple length =", tup_count)

Tuple length = 4

## Problem 4(c,d)

In [7]:
s_name, s_age, s_city, s_course = student

print("Name of the student =",s_name)
print("Agae of the student=", s_age)
print("City of the student=", s_city)
print("Course of the student=", s_course)

Name of the student = Raj
Agae of the student=  17
City of the student=  Delhi
Course of the student=  c++

## Problem 5(a,b,c,d)

In [8]:
colors = {"col1":"Red", "col2":"Blue", "col3":"Yellow"}
colors["col4"] = "Green"
colors["col2"] = "Orange"
print(colors)

{'col1': 'Red', 'col2': 'Orange', 'col3': 'Yellow', 'col4': 'Green'}

## Problem 5(e,f,g,h)

In [9]:
keys = ["col1", "col2"]
colors_new = colors.fromkeys(keys)
for k in colors_new:
    colors_new[k] = colors[k]
print("Colors =",colors)
print("New Colors =",colors_new)
colors.clear()
print("Colors after deletion =",colors)
print("Col2 =",colors_new["col2"])

Colors = {'col1': 'Red', 'col2': 'Orange', 'col3': 'Yellow', 'col4': 'Green'}
New Colors = {'col1': 'Red', 'col2': 'Orange'}
Colors after deletion = {}
Col2 = Orange

## Problem 6

In [10]:
# Apply Seive Method
l = list(range(3,100,2)) #2 is a prime, and all multiples of 2 are non-prime
prime = True # Set for while condition
p = 0 # The pth index of the list which will be used to check other numbers
while prime and p<len(l):
    prime = False
    n = l[p] # This is prime, else it should have been eleminated by a value before it.
    for i,j in enumerate(l):
        if j%n==0 and i!=p: 
            l.pop(i) # Remove non-primes
            prime = True
    p = p + 1
l.insert(0, 2) #Add 2 to the prime list
print("List of prime numbers between 1-100 = ",l)
assert(len(l) == 25) # There should be 25 primes from 1-100

List of prime numbers between 1-100 =  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

## Problem 7

In [12]:
def ftn_count_upper_lower(string):
    c_lower, c_upper = 0,0
    for i in string:
        if i.isalpha() and i.islower():
            c_lower +=1
        elif i.isalpha() and i.isupper():   
            c_upper +=1
    return c_lower, c_upper        
s_input = input("Enter the string: ")
result = ftn_count_upper_lower(s_input)
print("No. of Uppercase characters :",result[1])
print("No. of Lowercase characters :",result[0])

Enter the string: Hello My name is Ram
No. of Uppercase characters : 3
No. of Lowercase characters : 13

## Problem 8

In [13]:
## helper functions and imports
import csv

def ext_emp_code(string):
    return string[3:]

def break_names(string):
    return string.split()

def modify_rows(rows_list):
    for row in rows_list:
        row[0] = ext_emp_code(row[0])
        row[1], l_name  = break_names(row[1])
        row.insert(2, l_name)
    return rows_list

def csv_modifier(f_name, mode, rows_list):
    rows_list = modify_rows(rows_list)
    with open(f_name, mode) as csv_file:
        csv_writer = csv.writer(csv_file)
        csv_writer.writerows(rows_list)

In [14]:
## Original Employee List
! cat "1553497424_Dataset_Final_set/employee_list.csv"

1,Anshika,Garg,Ranchi,21,Noida
2,Rohit,Awasthi,Allahabad,20,Delhi

In [15]:
try:
    with open("1553497424_Dataset_Final_set/new_records.csv","r") as new_file:
        csv_reader = csv.reader(new_file)
        rows_perma = []
        rows_temp = []
        for row in csv_reader:
            if row[0].startswith("emp"):
                rows_perma.append(row)
            else:
                rows_temp.append(row)
        
#         print("### Permanent employees are:")
#         print(rows_perma)
#         print("### Temporary employees are:")
#         print(rows_temp)
        csv_modifier("1553497424_Dataset_Final_set/contractors_list.csv", "w", rows_temp)
        csv_modifier("1553497424_Dataset_Final_set/employee_list.csv", "a", rows_perma)
except FileNotFoundError:
    print("File does not exists.")

In [16]:
# New Contract List
! cat "1553497424_Dataset_Final_set/contractors_list.csv"

In [17]:
# Modified Employee List
! cat "1553497424_Dataset_Final_set/employee_list.csv"

1,Anshika,Garg,Ranchi,21,Noida
2,Rohit,Awasthi,Allahabad,20,Delhi